@use './styles/conteudo/cabecalho';
@use './styles/conteudo/components/variaveis';
@use './styles/conteudo/main';
@use './styles/conteudo/perfil';
@use './styles/conteudo/components/mixins';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: variaveis.$cor-de-fundo;
    color: white;
}
