header {
  background-color: hsl(202, 17%, 13%);
  position: relative;
  font-family: "Roboto", sans-serif;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 9px 0;
}
header nav .cabecalho__pesquisa {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 92px;
  padding-left: 120px;
}
header nav .cabecalho__pesquisa input {
  width: 280px;
  height: 34px;
  background-color: #38434F;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
header nav .cabecalho__pesquisa .cabecalho__input {
  padding: 0 0.5rem;
  color: white;
}
header nav .cabecalho__pesquisa .cabecalho__input::-moz-placeholder {
  padding-left: 1.7rem;
  background: url(/assets/search.svg);
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.8078431373);
}
header nav .cabecalho__pesquisa .cabecalho__input::placeholder {
  padding-left: 1.7rem;
  background: url(/assets/search.svg);
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.8078431373);
}
header nav .cabecalho__lista {
  display: flex;
  margin-right: auto;
  gap: 5px;
}
header nav .cabecalho__lista li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .cabecalho__lista li .cabecalho__linha-vertical {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
}
header nav .cabecalho__lista li img {
  width: 20px;
  height: 20px;
}
header nav .cabecalho__lista li a {
  width: 80px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.8078431373);
}

main {
  display: grid;
  grid-template-columns: 780px 320px;
  grid-template-rows: 468px 312px 371px 134px 368px 127px 178px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
main .section-perfil {
  grid-area: 1/1;
}
main .section-destaques {
  grid-area: 2/1;
}
main .section-atividades {
  grid-area: 3/1;
}
main .section-sobre {
  grid-area: 4/1;
}
main .experiencias {
  grid-area: 5/1;
}

main .section-perfil {
  background: url(./assets/Imagem-de-capa.svg);
  background-repeat: no-repeat;
  background-color: #1B2226;
  border-radius: 16px;
  padding: 7.5rem 0 0 1.5rem;
  margin-top: 1rem;
}
main .section-perfil .perfil-detalhes {
  display: grid;
  grid-template-columns: 60% 40%;
  padding-top: 0.5rem;
}
main .section-perfil .perfil-detalhes .perfil-detalhes-list li {
  line-height: 1.3rem;
}
main .section-perfil .perfil-detalhes .perfil-detalhes-list li .span-color {
  color: rgba(255, 255, 255, 0.8078431373);
  font-weight: 600;
}
main .section-perfil .perfil-detalhes .perfil-detalhes-list li p {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8078431373);
  font-weight: 500;
}
main .section-perfil .perfil-detalhes .perfil-detalhes-list li span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5568627451);
}
main .section-perfil .perfil-detalhes .perfil-detalhes-list li a {
  font-size: 14px;
  color: #70B5F9;
  font-weight: bold;
  text-decoration: none;
}
main .section-perfil .perfil-detalhes .perfil-detalhes-carreira ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 2rem;
}
main .section-perfil .perfil-detalhes .perfil-detalhes-carreira ul .perfil-link {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .section-perfil .perfil-detalhes .perfil-detalhes-carreira ul .perfil-link p {
  font-weight: 600;
  font-size: 14px;
}
main .section-perfil .perfil-detalhes .perfil-button-group button {
  width: 128px;
  height: 28px;
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
}
main .section-perfil .perfil-detalhes .perfil-button-group .button-blue {
  background-color: #70B5F9;
  border: none;
}
main .section-perfil .perfil-detalhes .perfil-button-group .button-transparent {
  background-color: transparent;
  border: 1px solid #70B5F9;
  color: #70B5F9;
}

.section-destaques {
  border-radius: 16px;
  background-color: #1B2226;
  margin-top: 8px;
}
.section-destaques h2 {
  padding: 16px 0 8px 24px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8078431373);
}
.section-destaques .destaques-align {
  display: flex;
  justify-content: space-evenly;
}
.section-destaques .destaques-align .destaques-publi {
  border: 1px solid rgba(255, 255, 255, 0.5568627451);
  width: 238px;
  height: auto;
  padding: 0.5rem 0;
  border-radius: 5px;
}
.section-destaques .destaques-align .destaques-publi h3 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5568627451);
  padding-bottom: 5px;
  padding-left: 14px;
}
.section-destaques .destaques-align .destaques-publi p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8078431373);
  padding-bottom: 5px;
  padding-left: 14px;
}
.section-destaques .destaques-align .destaques-publi img {
  width: 100%;
}
.section-destaques .destaques-align .destaques-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-destaques .destaques-align .destaques-list li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.section-destaques .destaques-align .destaques-list li span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5568627451);
}
.section-destaques .destaques-align .destaques-list li img {
  width: 32px;
}

.section-atividades {
  border-radius: 16px;
  background-color: #1B2226;
  margin-top: 8px;
}
.section-atividades h2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8078431373);
  padding: 16px 0 0 24px;
}
.section-atividades a {
  text-decoration: none;
  padding: 0 0 0 24px;
  color: #70B5F9;
  font-size: 14px;
}
.section-atividades p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5568627451);
  padding-left: 24px;
}
.section-atividades ul {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 8px 24px;
}
.section-atividades ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.section-atividades ul li span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5568627451);
}
.section-atividades hr {
  width: 93.5%;
  margin: auto;
  margin-bottom: 8px;
  border-color: rgba(255, 255, 255, 0.5568627451);
}
.section-atividades .atividades-align {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
}
.section-atividades .atividades-align img {
  width: 64px;
  height: 64px;
}
.section-atividades .atividades-align p {
  font-size: 14px;
  color: white;
  padding: 0;
  line-height: 1.3rem;
}
.section-atividades .atividades-exibir {
  text-align: center;
  padding-top: 8px;
}

.section-sobre {
  border-radius: 16px;
  background-color: #1B2226;
  margin-top: 8px;
}
.section-sobre h2 {
  padding: 16px 0 8px 24px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8078431373);
}
.section-sobre p {
  padding: 0 24px;
  font-size: 14px;
  color: white;
  line-height: 1.3rem;
}

.experiencias {
  border-radius: 16px;
  background-color: #1B2226;
  margin-top: 8px;
  padding: 16px 0 0 24px;
}
.experiencias h2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8078431373);
  padding-bottom: 8px;
}
.experiencias .experiencias-logo-empresa {
  display: flex;
  align-items: center;
  gap: 8px;
}
.experiencias .experiencias-logo-empresa img {
  width: 48px;
}
.experiencias .experiencias-empresa p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8078431373);
}
.experiencias .experiencias-empresa span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5568627451);
}
.experiencias .experiencias-icones {
  display: flex;
}
.experiencias .experiencias-icones .experiencias-icones-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48px;
}
.experiencias .experiencias-icones .experiencias-icones-align .experiencias-circulo {
  width: 9px;
  padding: 9px 0;
}
.experiencias .experiencias-icones .experiencias-icones-align .experiencias-linha {
  width: 1px;
}
.experiencias .experiencias-icones ul {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-top: 4px;
  padding-left: 8px;
}
.experiencias .experiencias-icones ul li:nth-child(1) {
  color: rgba(255, 255, 255, 0.8078431373);
  font-weight: 600;
}
.experiencias .experiencias-icones ul li:nth-child(2) {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8078431373);
}
.experiencias .experiencias-icones ul li:nth-child(3) {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5568627451);
}
.experiencias .experiencias-icones ul li:nth-child(4) {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5568627451);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
}/*# sourceMappingURL=style.css.map */