//Cores
$cor-de-fundo: rgba(0, 0, 0, 1);
$cor-secundaria: hsl(202, 17%, 13%);
$fundo-secundaria: #1B2226;
$branco-90: #ffffffce;
$branco-60: #ffffff8e;
$fundo-input: #38434F;
$font-azul: #70B5F9;

//Fontes
$font-principal: "Roboto", sans-serif;
$font-secundaria: "Inter", sans-serif;